/* Standard tags style customizations */

@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Light";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
}

:root {
    --font-color-dark: #3C4043;
    --font-color-light: #5D5D5D;
    --main-background-color: #FFFFFF;
    --second-background-color: #F8F9FA;
    --blue-color: #1A73E8;
    --blue-light-color: #D3E6FF;
    --answer-color: #1A73E8D0;
    --marked-answer-color: #0047A5;
    --green-color: #0AAD5F;
    --red-color: #EB1D16;
    --main-font: "Roboto Regular";
    --second-font: "Roboto Medium";
    --light-font: "Roboto Light";
    --shadow: 0px 1px 2px 0px #3C40434D, 0px 2px 6px 2px #3C404326;
    --shadow-light: 0px 0px 3px 1px #3C404326;
    --shadow-sharp: 0px 1px 2px 0px #3C40439d;
    --shadow-text: 1px 1px #86868686;
    --button-shadow: 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f, 0 3px 1px -2px #00000033;
    --shadow-blue: 0px 0px 2px 1px #1A73E840;
    --title-height: 64px;
    --window-animation: all 0.3s ease;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    background-color: var(--main-background-color);
}

button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 24px;
    padding: 6px 24px;
    margin: 0;
    border: none;
    font-family: var(--second-font);
    background: var(--main-background-color);
    color: var(--font-color-dark);
    box-shadow: var(--button-shadow);
    user-select: none;
    transition: all 0.3s ease;
}

button:hover {
    transform: translate3d(0, 4px, 0);
}

footer {
    line-height: 12px;
    font-size: 12px;
    padding: 8px 8px;
    color: var(--font-color-light);
    font-family: var(--light-font);
    background-color: var(--second-background-color);
    width: calc(100% - 16px);
    text-align: center;
}

input {
    outline: none;
}

/* Classes style definitions */

.singleQuestion {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 64px;
    line-height: 18px;
    overflow-y: auto;
    overflow-x: hidden;
    transform-origin: 0 50% 0;
}

.singleQuestion[current] {
    display: block;
    transition: all 0.5s ease;
}

.questionBox {
    box-shadow: var(--shadow);
    background: var(--main-background-color);
    max-width: 800px;
    font-size: 14px;
    margin: 0 auto 90px auto;
    border-radius: 4px;
}

@media (max-width: 1200px) {
    .questionBox {
        margin: 0 16px 90px 16px;
    }
}

.questionBody {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

.questionTitle {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.question {
    font-size: 16px;
    line-height: 1.6;
    white-space: pre-wrap;
}

.answersBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 16px;
}

.stepBox {
    height: 24px;
    min-width: 24px;
    width: auto;
    line-height: 24px;
    text-align: center;
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    box-shadow: var(--shadow-sharp);
    border-style: none;
    font-size: 14px;
    color: var(--font-color-light);
    margin: 0 5px;
    border-radius: 14px;
    padding: 2px;
    transition: all 0.5s ease;
    user-select: none;
}

.stepBox[marked] {
    background-color: var(--blue-light-color);
}

.stepBox[current] {
    transform: scale(1.15);
    background-color: var(--blue-color);
    color: var(--main-background-color);
    font-family: var(--second-font);
}

.singleAnswer {
    background: var(--main-background-color);
    box-shadow: var(--shadow-sharp);
    font-family: var(--main-font);
    width: calc(45% - 32px);
    margin: 16px 2.5% 0 2.5%;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: var(--answer-color);
    color: var(--main-background-color);
    text-shadow: var(--shadow-text);
    transition: all 0.5s ease;
}

.singleAnswer[selected] {
    transform: scale(1.05);
    background-color: var(--marked-answer-color);
}

@media (max-width: 500px) {
    .singleAnswer {
        width: calc(95% - 32px);
    }
}

.inputContainer {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--blue-color);
    margin-top: 4px;
    background-color: var(--main-background-color);
    transition: all 0.3s ease;
}

.inputContainer[focused] {
    box-shadow: var(--shadow-blue);
}

.answerInputField {
    position: relative;
    top: -4px;
    margin: 0;
    padding: 0 12px 8px;
    caret-color: var(--blue-color);
    font-family: var(--main-font);
    color: var(--font-color-light);
    border: none;
    font-size: 14px;
    width: calc(100% - 24px);
    background: none;
}

.inputLabel {
    display: inline-block;
    margin: 0;
    padding: 0px 4px 0 4px;
    position: relative;
    top: -11px;
    left: 8px;
    height: 10px;
    background-color: transparent;
    font-size: 10px;
    line-height: 10px;
    font-family: var(--light-font);
    color: var(--font-color-light);
    user-select: none;
    transition: all 0.3s ease;
    transform-origin: left;
    transform: scale(1.4) translate3d(0, 16px, 0);
}

.inputLabel[focused] {
    transform: none;
    color: var(--blue-color);
    background-color: var(--main-background-color);
}

.singleQuizChoice {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(100% - 32px);
    height: 48px;
    margin: 0px 16px 12px 16px;
    background-color: var(--main-background-color);
    box-shadow: var(--shadow-light);
    border-radius: 24px;
    transition: all 0.5s ease;
}

.singleQuizChoice:hover {
    transform: scale(1.02);
    background-color: var(--blue-light-color);
}

.singleQuizChoice[selected] {
    transform: scale(1.05);
    background-color: var(--blue-light-color);
}

.quizId {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 36px;
    min-width: 36px;
    border-radius: 18px;
    background-color: var(--blue-color);
    color: var(--main-background-color);
    font-family: var(--main-font);
    font-size: 18px;
    box-shadow: var(--shadow-sharp);
    margin-left: 8px;
}

.quizName {
    display: inline-block;
    margin-left: 16px;
    font-family: var(--light-font);
    color: var(--font-color-light);
}

.statsPosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    background-color: var(--second-background-color);
    margin: 12px 5%;
    box-shadow: var(--shadow-light);
    border-radius: 4px;
}

.statsId {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: var(--second-background-color);
    padding: 8px;
    margin-left: 8px;
    font-family: var(--main-font);
    color: var(--font-color-light);
}

.statsContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 56px);
    margin: 0 8px 0 8px;
    line-height: 16px;
    font-family: var(--main-font);
    color: var(--font-color-light);
    padding-top: 8px;
}

.statsPointsName {
    display: flex;
    width: 100%;
}

.statsDetails {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin: 8px 0;
    max-height: 1000px;
	overflow: hidden;
    transition: all 1s ease-in-out;
}

.statsDetails.withPenalties {
    flex-direction: column;
}

.statsDetails[hidden] {
    max-height: 0;
}

.answerHistoryContainer {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.answerHistoryPenalty {
    display: inline;
    line-height: 20px;
    font-family: var(--light-font);
    font-size: 20px;
    margin-left: 8px;
}

.answerHistory {
    height: 24px;
    min-width: 24px;
    width: auto;
    line-height: 24px;
    text-align: center;
    font-family: var(--second-font);
    box-shadow: var(--shadow-sharp);
    border-style: none;
    font-size: 14px;
    margin: 5px 5px;
    border-radius: 4px;
    padding: 2px;
    user-select: none;
}

.answerHistory[valid="true"] {
    background-color: var(--green-color);
    color: var(--main-background-color);
}

.answerHistory[valid="false"] {
    background-color: var(--red-color);
    color: var(--main-background-color);
}

.clickable:hover {
    cursor: pointer;
}

.outlined {
    box-shadow: none;
    line-height: 18px;
    padding: 0 6px;
}

.timeData {
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    padding: 6px 12px;
    margin: 0 16px;
    border: none;
    text-align: center;
    font-family: var(--light-font);
    background-color: var(--main-background-color);
    color: var(--font-color-dark);
    box-shadow: var(--button-shadow);
    user-select: none;
}

.timeData#penalty {
    background-color: var(--red-color);
    color: var(--main-background-color);
    font-family: var(--main-font);
}

@media (max-width: 950px) {
    .timeData {
        display: none;
    }
}

/* Id style definitions */

#gameContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100% - var(--title-height));
    padding-top: var(--title-height);
    background-color: var(--second-background-color);
    transition: var(--window-animation);
    overflow-x: hidden;
}

#helloContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: var(--second-background-color);
    transition: var(--window-animation);
    z-index: 1000;
}

#resultsContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    z-index: 150;
    justify-content: center;
    align-items: center;
    transition: var(--window-animation);
    overflow: hidden;
}

#resultLabel {
    display: block;
    text-align: center;
    font-family: var(--light-font);
    font-size: 2em;
    width: 80%;
    margin-top: 32px;
    height: 10%;
    background-color: var(--main-background-color);
}

#result {
    display: block;
    text-align: center;
    font-family: var(--main-font);
    font-size: 2.5em;
    width: 80%;
    height: 10%;
    background-color: var(--main-background-color);
}

#statsGameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 35%;
    width: calc(100% - 32px);
}

#statsGameTitle {
    font-family: var(--light-font);
    color: var(--font-color-light);
    font-size: 24px;
    height: 24px;
    margin: 8px 0;
    line-height: 24px;
}

#gameStats {
    width: 80%;
    overflow-y: auto;
}

#resultsControls {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    margin: 16px 16px 32px 16px;
    justify-content: space-evenly;
}

#resultsShadow {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--font-color-dark);
    opacity: 0.4;
    transition: all 1s ease;
}

#resultsShadow[hidden] {
    opacity: 0.0;
}

#resultsBoard {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 75%;
    z-index: 200;
    border-radius: 8px;
    box-shadow: var(--shadow-sharp);
    transition: all 1s ease;
    transform: translate3d(0, 0, 0);
}

#resultsBoard[hidden] {
    transform: translate3d(0, 150%, 0);
}

@media (max-width: 800px) {
    #resultsBoard {
        width: 90%;
    }
}

#nameInputContainer {
    width: 60%;
}

@media (max-width: 650px) {
    #nameInputContainer {
        width: 90%;
    }
}

#quizSelection {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: var(--second-background-color);
    transition: var(--window-animation);
}

#quizSelectionContainer {
    display: block;
    padding: 24px 16px 24px  16px;
    width: calc(100% - 32px);
    height: calc(70% - 24px);
    z-index: 50;
    background-color: var(--second-background-color);
    overflow-y: auto;
}

#scrollQuizContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#gameTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 30%;
    background-color: var(--blue-color);
    box-shadow: var(--shadow);
    z-index: 100;
}

#gameTitle {
    color: var(--main-background-color);
    font-family: var(--main-font);
    font-size: 36px;
    text-shadow: var(--shadow-text);
    padding: 16px 24px;
}

#statistics {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    background-color: var(--second-background-color);
    transition: var(--window-animation);
    overflow-x: hidden;
}

#statsBoard {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin-top: 5%;
    border-radius: 12px;
    background-color: var(--main-background-color);
    box-shadow: var(--shadow-light);
    transition: all 0.5s ease;
}

@media (min-width: 1200px) {
    #statsBoard[hidden] {
        transform: translate3d(200%, 0, 0);
    }
    #statsBoard {
        transform: translate3d(0, 0, 0);
    }
}

#statsTitle {
    width: 100%;
    height: 54px;
    line-height: 54px;
    font-size: 24px;
    text-align: center;
    font-family: var(--main-font);
    color: var(--font-color-light);
    padding: 4px 0;
}

#statsList {
    display: block;
    width: 100%;
    height: calc(100% - 100px);
    background-color: var(--main-background-color);
    overflow-y: auto;
}

#statsScroll {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button#back {
    margin-left: 8px;
    background-color: var(--blue-color);
    color: var(--main-background-color);
}

button#start {
    display: block;
    margin-left: 8px;
    background-color: var(--blue-color);
    color: var(--main-background-color);
    transition: all 0.3s ease;
}

@media (min-width: 1200px) {
    button#start[hidden] {
        transform: translate3d(0, 200%, 0);
    }
    button#start {
        transform: translate3d(0, 0, 0);
    }
    button#start:hover {
        transform: translate3d(0, 4px, 0);
    }
}

#titleContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 52px);
    background-color: var(--main-background-color);
    color: var(--font-color-title);
    box-shadow: var(--shadow);
    padding: 0 36px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--title-height);
    z-index: 100;
}

#title {
    font-size: 20px;
    font-weight: 400;
    margin: 0 8px;
    font-family: var(--main-font);
    flex-grow: 1;
    overflow: hidden;
    display: inline-block;
    user-select: none;
}

#navigationButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
}

#sideContainer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    justify-content: space-between;
    z-index: 50;
    flex-direction: column;
    background: var(--second-background-color);
}

#descriptionContent {
    padding: 16px 24px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: visible;
}

#descriptionContent > p {
    margin: 0 0 8px 0;
    padding: 10px;
    font-size: 16px;
    display: block;
    background-color: var(--main-background-color);
    box-shadow: var(--shadow-light);
    font-family: var(--main-font);
    border-radius: 4px;
}

#questionContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background: var(--second-background-color);
}

#timesData {
    display: flex;
    flex-direction: row;
    height: 36px;
}

#gameControls {
    pointer-events: none;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 50;
}

#mainControls {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 48px;
    z-index: 50;
}

@media (max-width: 1200px) {
    #mainControls {
        justify-content: space-between;
        left: 0;
    }
    #quizSelection {
        width: 100%;
    }
    #statistics {
        display: none;
        left: 0;
        transform: scale(0.5);
        opacity: 0.0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    button#back {
        display: none;
    }
}

button#prev {
    margin-left: 16px;
    background-color: var(--green-color);
    color: var(--main-background-color);
    pointer-events: all;
}

button#next {
    margin-right: 16px;
    background-color: var(--green-color);
    color: var(--main-background-color);
    pointer-events: all;
}

#questions {
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

#status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    z-index: 50;
    overflow-x: auto;
}

#status[overflown] {
    justify-content: flex-start;
}

#finish {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 32px;
    height: 88px;
    width: 48px;
    background-color: transparent;
    z-index: 50;
    pointer-events: none;
    transition: all 0.5s ease;
    transform: translate3d(0, 0, 0);
}

#finish[hidden] {
    transform: translate3d(0, -200%, 0);
}

#close {
    display: flex;
    justify-content: center;
}

#finishButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    background-color: var(--red-color);
    pointer-events: all;
    border-radius: 24px;
    box-shadow: var(--shadow-sharp);
    transition: all 0.5s ease;
}

@media (max-width: 800px) {
    #navigationButtons > #menu {
        display: flex;
    }
    #navigationButtons > #logo {
        display: none;
    }
    #sideContainer {
        width: 100%;
        height: calc(100% - var(--title-height));
        position: fixed;
        top: var(--title-height);
        left: 0;
        transition: all 0.75s ease;
        transform: translate3d(0, 0, 0);
    }
    #questionContainer {
        width: 100%;
        height: calc(100% - var(--title-height));
        position: fixed;
        top: var(--title-height);
        left: 0;
    }
    #sideContainer[hidden] {
        transform: translate3d(-100%, 0, 0);
    }
}

@media (min-width: 800px) {
    #navigationButtons > #menu {
        display: none;
    }
    #navigationButtons > #logo > img {
        width: 25px;
        height: 25px;
    }
    #sideContainer {
        width: 384px;
    }
}

#statsGenerate {
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: transparent;
    z-index: 10000;
}

button#closeWithoutSaving {
    color: var(--red-color);
    background-color: transparent;
    text-shadow: none;
}

button#saveWithStats {
    color: var(--green-color);
    background-color: transparent;
    text-shadow: none;
}

button#saveWithoutStats {
    color: var(--blue-color);
    background-color: transparent;
    text-shadow: none;
}